<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>huodongtuisong_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,84},{84,16}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,18}</string>
			</dict>
			<key>huodongtuisong_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,0},{84,17}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,18}</string>
			</dict>
			<key>huodongtuisong_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,18},{81,17}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,18}</string>
			</dict>
			<key>huodongtuisong_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,84},{84,16}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,18}</string>
			</dict>
			<key>huodongtuisong_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,86},{84,15}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,18}</string>
			</dict>
			<key>huodongtuisong_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,170},{84,15}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,18}</string>
			</dict>
			<key>huodongtuisong_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{15,170},{84,15}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,18}</string>
			</dict>
			<key>huodongtuisong_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,84},{84,16}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,18}</string>
			</dict>
			<key>huodongtuisong_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,165},{83,16}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,18}</string>
			</dict>
			<key>huodongtuisong_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,86},{84,16}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,18}</string>
			</dict>
			<key>huodongtuisong_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{16,86},{84,16}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,18}</string>
			</dict>
			<key>huodongtuisong_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,86},{84,16}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,18}</string>
			</dict>
			<key>huodongtuisong_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{84,18}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,18}</string>
			</dict>
			<key>huodongtuisong_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,0},{84,17}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,18}</string>
			</dict>
			<key>huodongtuisong_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,86},{79,17}}</string>
				<key>offset</key>
				<string>{4,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,18}</string>
			</dict>
			<key>huodongtuisong_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,168},{77,16}}</string>
				<key>offset</key>
				<string>{5,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,18}</string>
			</dict>
			<key>huodongtuisong_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{30,170},{78,16}}</string>
				<key>offset</key>
				<string>{5,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,18}</string>
			</dict>
			<key>huodongtuisong_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,35},{80,17}}</string>
				<key>offset</key>
				<string>{3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,18}</string>
			</dict>
			<key>huodongtuisong_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,52},{80,17}}</string>
				<key>offset</key>
				<string>{3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,18}</string>
			</dict>
			<key>huodongtuisong_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,69},{80,17}}</string>
				<key>offset</key>
				<string>{3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,18}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist.png</string>
			<key>realTextureFileName</key>
			<string>Plist.png</string>
			<key>size</key>
			<string>{128,256}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>128</integer>
			<key>height</key>
			<integer>256</integer>
		</dict>
	</dict>
</plist>